{% extends  "__layout.twig" %}

{% block content %}
	
	{% import "macros.html" as macros %}
	
	<br>

	<br>
	<h1>
		<a href="/ship/{{id_ship}}">{{name}}</a>
	</h1>

	<ul class="nav nav-pills">
		<li class="nav-item">
			{{ macros.btn( "Картинка" , '/ship/'~ id_ship ~'?view=image', false, 'nav-link ', type == 'image'  ) }}
		</li>
		<li class="nav-item ">
			{{ macros.btn( "Описание" , '/ship/'~ id_ship ~'?view=text', false, 'nav-link ', type == 'text') }}
		</li>
		<li>
		<a class="btn btn-outline-primary"  href="/ship/{{id_ship}}/send">Отправить письмо</a>
		</li>
	</ul>
	<div class="container">
		<div class="block">
			<ul class="list-group">
				<li class="list-group-item">

					{% block objectContent %}
						<div class="container">
							<p>{{description}}</p>

						</div>
					{% endblock %}
				</li>
			</ul>
			<div class="container">

				<div class="content home">
					{{calendar|raw}}
					
				</div>

			</div>

		</div>


	</div>

{% endblock %}
